.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(179,163,179,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(179,163,179,1);
    box-shadow: 3px 4px 5px 0px rgba(179,163,179,1);
}
.featuredTitle{
    font-size: 20px;
}
.featuredMoneyContainer{
    margin: 10px, 0px;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size: 30px;
    font-weight: 500;
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}
.featuredIcon.negative{
    color: red;
}
.featuredSubtitle{
    font-size: 15px;
    color: grey;
}