.charts{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(179,163,179,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(179,163,179,1);
    box-shadow: 3px 4px 5px 0px rgba(179,163,179,1);
}
.chartsTitle{
    margin-bottom: 20px;;
}

